<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
    <div class="event_detail_page_container_total_box">
        <div class="event_detail_page_container">
            <div class="event_detail_page_pre_next_btn">
                <div class="modify_delete_btn" th:if="${#authentication.principal.username == suggest.getAuthor()?.getId()}">
                    <div class="event_page_pre_btn">
                        <a href="javascript:void(0);" th:data-uri="@{|/suggest/delete/${suggest.getNo()}|}" class="delete" sec:authorize="isAuthenticated()" th:text="삭제"></a>
                    </div>
                    <div class="event_page_pre_btn">
                        <a th:href="@{|/suggest/modify/${suggest.getNo()}|}" class="modify_btn" sec:authorize="isAuthenticated()" th:text="수정"></a>
                    </div>
                </div>
                <div class="modify_delete_btn">
                    <div></div>
                    <div></div>
                </div>
                <div class="event_pre_next_list_btn_box">
                    <div th:if="${hasPrevious}" class="event_page_pre_btn">
                        <a th:href="@{/suggest/detail/__${#strings.toString(suggest.getNo() - 1)}__}">이전글</a><span class="event_detail_pre_btn">❯</span>
                    </div>
                    <div th:if="${hasNext}" class="notice_page_next_btn">
                        <a th:href="@{/suggest/detail/__${#strings.toString(suggest.getNo() + 1)}__}">다음글</a><span class="event_detail_next_btn">❯</span>
                    </div>
                    <div class="event_page_list_btn">
                        <a th:href="@{/suggest/list}">목록</a>
                    </div>
                </div>

            </div>
            <div class="event_detail_page_content">
                <div class="event_detail_page_title_box">
                    <div>
                        <div class="event_detail_page_event_list">건의하기 ></div>
                        <div class="event_detail_page_title" th:text="${suggest.getTitle()}"></div>
                        <div class="event_detail_write_info">
                            <img class="event_detail_admin_img" th:if="${suggest.getAuthor() != null}" th:src="${suggest.getAuthor().getProfile()}" alt="유저이미지">
                            <img class="event_detail_admin_img" th:if="${suggest.getAuthor() == null}" src="/profile/남자.png" alt="유저이미지">
                            <div class="event_detail_write_info_inner_box">
                                <div class="event_detail_write_info_inner1">
                                    <div class="event_detail_write_info_inner1_div_1">
                                        <div class="event_detail_admin_name" th:text="${suggest.getAuthor() == null ? '익명' : suggest.getAuthor().getId()}"></div>
                                        <div class="event_detail_cafe_manager" th:text="${suggest.getAuthor() == null ? '해씨' : suggest.getAuthor().getGrade() eq '관리자' ? '카페매니저' : suggest.getAuthor().getGrade()}"></div>
                                        <div class="event_detail_subscribe">+ 구독</div>
                                        <div class="event_detail_chat">1:1 채팅</div>
                                    </div>
                                    <div class="event_detail_write_info_inner1_div_2">
                                        <img>
                                        <div class="event_detail_reply">댓글</div>
                                        <div class="event_detail_reply_count" th:text="${#lists.size(suggest.commentList)}"></div>
                                    </div>
                                </div>
                                <div class="event_detail_write_info_inner2">
                                    <div class="event_regdate" th:text="${suggest.update_date != null ? #temporals.format(suggest.update_date, 'yyyy-MM-dd HH:mm:ss') : #temporals.format(suggest.reg_date, 'yyyy-MM-dd HH:mm:ss')}"></div>
                                    <span style="font-size: 10px; color: #333333b8;margin: 3px -4px 0px 6px;">조회수</span><div class="event_hit" th:text="${suggest.getHit()}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="download_list_box" th:if="${files != null && !files.isEmpty()}" style="width: 100px;">
                    <p class="download_box">다운로드</p>
                    <ul class="download_list">
                        <li th:each="file : ${files}" style="height: 30px">
                            <a th:href="@{|/suggest/download?no=${suggest.no}&filename=${file.encodedName}|}" th:text="${file.decodedName}" th:attr="title=${file.decodedName}"></a>
                        </li>
                    </ul>
                </div>
                <div class="event_detail_page_content_box">
                    <div>
                        <div class="event_detail_text_content_box">
                            <div class="event_detail_text_content_title"></div>
                            <div class="event_detail_text_content_cont">
                                <p th:utext="${@commonUtil.markdown(suggest.getContent())}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event_detail-writer_total_box_container">
                    <div class="event_detail_writer_box">
                        <img class="event_detail-writer_img" th:if="${suggest.getAuthor() != null}" th:src="${suggest.getAuthor().getProfile()}" alt="유저이미지">
                        <img class="event_detail-writer_img" th:if="${suggest.getAuthor() == null}" src="/profile/남자.png" alt="유저이미지">
                        <div class="event_detail_writer_box_writer" th:text="${suggest.getAuthor() == null ? '익명' : suggest.getAuthor().getId()}"></div><span class="event_detail_writer_box_span">님의 게시글 더보기 ></span>
                    </div>
                    <div class="event_board_count_box">
                        <div class="event_board_count_box_inner1">
                            <div class="notice_likes_box">
                                <a class="notice_like" th:if="${!isChecked}" th:href="@{/suggest/vote/add/{no}(no=${suggest.no})}" th:text="추천"></a>
                                <a class="notice_dislike" th:if="${isChecked}" th:href="@{/suggest/vote/remove/{no}(no=${suggest.no})}" th:text="추천"></a>
                            </div>
                            <div class="good_count" th:text="${#lists.size(suggest.voter)}"></div>
                        </div>
                        <div class="event_board_count_box_inner2">
                            <img class="reply_img" th:src="@{/img/댓글이미지.png}">
                            <div class="reply_text">댓글</div>
                            <div class="reply_count" th:text="${#lists.size(suggest.commentList)}"></div>
                        </div>
                    </div>
                </div>
                <div class="reply_setting_btn">
                    <a th:href="@{|/suggest/detail/${suggest.getNo()}?sort=asc|}" class="reg_btn_down">등록순</a>
                    <a th:href="@{|/suggest/detail/${suggest.getNo()}?sort=desc|}" class="reg_btn_up">최신순</a>
                </div>
                <div class="event_reply_section">
                    <div>
                        <div class="reply_board_section" th:each="suggest, loop : ${commentList}">
                            <img class="event_reply_writer_img_box" th:if="${suggest.getCafeUser() != null}" th:src="${suggest.getCafeUser().getProfile()}" alt="유저이미지">
                            <img class="event_reply_writer_img_box" th:if="${suggest.getCafeUser() == null}" src="/profile/남자.png" alt="유저이미지">
                            <div class="event_reply_write_content_total_box">
                                <div class="event_reply_writer_name_box" th:text="${suggest.getCafeUser().getId()}"></div>
                                <div class="event_reply_cont_box" th:text="${suggest.getContent()}"></div>
                                <div class="event_reply_regdate_box" th:text="${suggest.upDate != null ? #temporals.format(suggest.upDate, 'yyyy-MM-dd HH:mm:ss') : #temporals.format(suggest.regDate, 'yyyy-MM-dd HH:mm:ss')}"></div>
                            </div>
                            <div class="reply_modify_delete_btn" th:if="${#authentication.principal.username == suggest.getCafeUser().getId()}">
                                <div class="event_page_reply_delete_btn">
                                    <a href="javascript:void(0);" th:data-uri="@{|/suggest/comment/delete/${suggest.getComment_no()}|}" class="delete" sec:authorize="isAuthenticated()" th:text="삭제"></a>
                                </div>
                                <div class="event_page_reply_modify_btn">
                                    <a th:href="@{|/suggest/comment/modify/${suggest.getComment_no()}|}" class="modify_btn" sec:authorize="isAuthenticated()" th:text="수정"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form id="reply_form" th:action="@{|/suggest/comment/create/${suggest.getNo()}|}" class="event_reply_form" method="post">
                        <div class="event_write_reply" sec:authorize="isAuthenticated()">
                            <div class="event_write_reply_writer_name" th:text="${#authentication.getName()}"></div>
                            <label class="event_reply">
                                <textarea class="event_reply_textarea" name="content" id="content" placeholder="댓글을 작성해주세요."></textarea>
                            </label>
                            <div class="file_submit_btn">
                                <img class="reply_camera_img" th:src="@{/img/카메라.png}">
                                <input class="reply_submit_input_btn" type="submit" value="답변등록">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script layout:fragment="script" type='text/javascript'>
    $(function (){
       $(".download_list_box").click(function () {
           $(this).toggleClass("is_selected");
       })
   })
   const delete_elements = document.getElementsByClassName("delete");
   Array.from(delete_elements).forEach(function(element) {
       element.addEventListener('click', function() {
           if(confirm("정말로 삭제하시겠습니까?")) {
               location.href = this.dataset.uri;
           };
       });
   });

    document.getElementById('reply_form').addEventListener('submit', function(event) {
                    const content = document.getElementById('content').value.trim();

                    if (content === '') {
                        alert('댓글을 입력해 주세요.');
                        event.preventDefault(); // 폼 제출을 막음
                    }
              });

</script>
</html>