<footer th:fragment="footerFragment">
  <div class="footer_total_box">
      <div class="footer_total_box_inner">
          <div class="footer_total_box_inner_total_box">
              <div class="footer_total_box_inner_text">
                  <p class="footer_total_box_inner_text_p">햄스터와 고양이를 사랑하는 모임</p>
                  <img class="footer_total_box_inner_text_img" th:src="@{/img/발바닥-removebg-preview.png}">
              </div>
              <a class="footer_logo" href="#">
                  cheezeHam 카페
              </a>
          </div>
      </div>
  </div>
</footer>